<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sassid" />
    <meta
      name="description"
      content="Bienvenue sur E-Teamz, le site qui trouvera pour vous les meilleurs deals au meilleurs prix"
    />
    <meta keywords="audio, son, casque, earpods, earbuds, beats-by-dre, meilleurs-prix, bluetooth, sans-fil, compatible, iphone, apple, android">
    <title>Nos Produits</title>
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/styles/products.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
  </head>
  <body>
    <header>
        <a href="" class="name-site icon">e-teamz</a>
        <nav>
          <a href="" class="icon"><i class="fa-solid fa-cart-shopping"></i></a>
          <a href="" class="icon"><i class="fa-solid fa-right-to-bracket"></i></a>
        </nav>
      </header>
      <main>
        <h1>nos produits populaires</h1>
        <section class="products">
            <div class="line1">
                <div class="prod">
                    <h2> beats studio pro</h2>
                    <h3>399,95 € </h3>
                    <a href="">
                        <img src="../assets/img/products/prod1.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
                <div class="prod">
                    <h2>beats fit pro</h2>
                    <h3>249,95 € </h3>
                    <a href="">
                        <img src="../assets/img/products/prod2.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
                <div class="prod">
                    <h2>powerbeats pro</h2>
                    <h3>299,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod3.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
            </div>
            <div class="line2">
                <div class="prod">
                    <h2>beats flex</h2>
                    <h3>89,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod4.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
                <div class="prod">
                    <h2>beats solo³ sans fil</h2>
                    <h3>229,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod5.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
                <div class="prod">
                    <h2>beats studio buds +</h2>
                    <h3>199,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod6.bmp" alt="">
                    </a>
                    <button>ajouter au panier</button>
                </div>
            </div>
        </section>
        <section class="hidden-prod1">
            

        </section>
      </main>
  </body>
</html>
