<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sassid" />
    <meta
      name="description"
      content="Bienvenue sur E-Teamz, le site qui vous trouvera les meilleurs deals au meilleurs prix"
    />
    <title>Our Products</title>
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/styles/products.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
  </head>
  <body>
    <header>
        <a href="" class="name-site icon">e-teamz</a>
        <nav>
          <a href="" class="icon"><i class="fa-solid fa-cart-shopping"></i></a>
          <a href="" class="icon"><i class="fa-solid fa-right-to-bracket"></i></a>
        </nav>
      </header>
      <main>
        <h1>nos produits populaires</h1>
        <section class="products">
            <div class="line1">
                <div class="prod1">
                    <h2> beats studio pro</h2>
                    <h3>399,95 € </h3>
                    <a href="">
                        <img src="../assets/img/products/prod1.bmp" alt="">
                    </a>
                </div>
                <div class="prod2">
                    <h2>beats fit pro</h2>
                    <h3>249,95 € </h3>
                    <a href="">
                        <img src="../assets/img/products/prod2.bmp" alt="">
                    </a>
                </div>
                <div class="prod3">
                    <h2>powerbeats pro</h2>
                    <h3>299,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod3.bmp" alt="">
                    </a>
                </div>
            </div>
            <div class="line2">
                <div class="prod4">
                    <h2>beats flex</h2>
                    <h3>89,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod4.bmp" alt="">
                    </a>
                </div>
                <div class="prod5">
                    <h2>beats solo³ sans fil</h2>
                    <h3>229,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod5.bmp" alt="">
                    </a>
                </div>
                <div class="prod6">
                    <h2>beats studio buds +</h2>
                    <h3>199,95 €</h3>
                    <a href="">
                        <img src="../assets/img/products/prod6.bmp" alt="">
                    </a>
                </div>
            </div>
        </section>
      </main>
  </body>
</html>
