/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mina:wght@400;700&display=swap");

/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
    color: aliceblue;
}

  /* HEADER */
  header {
    background-color: black ;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
    gap: 25px;
  }
  
  .name-site {
    color: white;
    font-size: 27px;
    text-decoration: none;
  }
  
  .icon {
    font-size: 200%;
    color: white;
  }
  
  .icon:hover {
    color: #7A2126;
    transition: color 1s;
  }

